activity.db
aftermostchange.db
botsettings.db
cooldowns.db
exchangerate.db
memobacklog.db
npsettings.db
pingterest.db
robotactivity.db
roles.db
scrobbledata.db
scrobbledata_releasewise.db
scrobblegenres.db
scrobblemeta.db
scrobblestats.db
shenanigans.db
timetables.db
useractivity.db
userdata.db